div {
    
    margin-top: 100px;
    flex-direction: row;
    
  }
  
  /* .entry_tab {
    margin: 0px 20px 60px 0px;
    font-weight: bolder;
    color: var(--color-nemo);
  }
  
  .favourite_tab {
    margin: 0px 20px 60px 0px;
    font-weight: bolder;
  } */