section {
    display: flex;
    flex-flow: column;
    position: relative;
    height: 25vh;
    border-bottom: solid 0.5px;
    border-color: var(--color-water-10);
  }

  .card_date {
    align-self: center;
  }
  
  .card_title {
    margin-top: 20px;
    align-self: start;
  }

  svg {
    position: absolute;
    left: 300px;
    top: 65px;
  }
